:root {
    --primary-color: #256eff;
    --secondary-color: #8291ae;
    --tertiary-color: #a22c29;
    --dark-color: #353a47;
    --light-color: #d6d5c9;
    --header-height: 75px;
    --rounded-corners: 8px;
    --circular: 50%;
    --box-shadow: 1px 2px 3px 0px var(--light-color);
    --basic-padding: 2rem;
    --max-width: 1440px;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: Secular One, -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
}

.banner-img {
    width: 500px;
    height: 500px;
    border: 5px solid var(--light-color);
    border-radius: var(--circular);
    object-fit: cover;
    position: relative;
    background: var(--primary-color);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}
