.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: var(--header-height);
  margin: 0 auto;
  border-bottom: 1px solid var(--grey-color);
}

.headerLinkContainer {
  display: flex;
  justify-content: space-between;
}

.headerLink {
  font-size: 1.25rem;
  padding: 0 1rem;
}

.headerLink:hover {
  color: var(--tertiary-color);
}

.headerText {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.divider {
  width: 1px;
  padding: 0.25rem 0;
  border: 1px solid var(--light-color);
}

@media screen AND (min-width: 500px) {
  .headerContainer {
    margin-bottom: 2rem;
  }
}
