.container {
  width: 80%;
  height: 80vh;
  margin: 0 auto 2rem auto;
  border: 1px solid var(--light-color);
  border-radius: var(--rounded-corners);
  --blue-color: #1b4cec;
  --header-height: 68px;
  position: relative;
}

.header {
  width: 100%;
  height: 68px;
  padding: 1rem;
  background: var(--blue-color);
  border-top-left-radius: var(--rounded-corners);
  border-top-right-radius: var(--rounded-corners);
}

.aside {
  width: 180px;
  position: absolute;
  bottom: 0;
  top: var(--header-height);
  background: var(--light-color);
  display: flex;
  flex-direction: column;
}

.navItem {
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
  color: var(--blue-color);
  display: flex;
}

.navItems {
}

.flexContainer {
  display: flex;
}
